body {
     background:#eeeeee;
}

.panel-transparent {
    background: none;
}

.panel-transparent .panel-heading{
    background: rgba(29,43,71, 0.2)!important;
}

.panel-transparent .panel-body{
    background: rgba(29,43,71, 0.2)!important;
}